<div class="cc bg-success text-white text-center py-4 ">
    <div class="container">
      <p class="mb-1">© 2024 TechLab</p>
      <p class="small mb-3">123 Rue Charguia, tunis, tunisie | +33 1 23 45 67 89 | info&#64;TechLab.com</p>
      <div class="d-flex justify-content-center mb-3">
        <a href="#!" class="text-white mx-2">Accueil</a>
        <a href="#!" class="text-white mx-2">Produits</a>
        <a href="#!" class="text-white mx-2">Contact</a>
        <a href="#!" class="text-white mx-2">Aide</a>
      </div>
      <div>
        <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
</div>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  