<ul class="nav nav-tabs">
    <li class="nav-item" (click)="vanish()"><a class="nav-link" routerLink="/admin/produit">les produits</a></li>
    <li class="nav-item" (click)="vanish()"><a class="nav-link" routerLink="/admin/commentaire">les commentaires</a></li>
    <li class="nav-item" (click)="vanish()"><a class="nav-link" routerLink="/admin/comptes">les comptes</a></li>
    <li class="nav-item" (click)="vanish()"><a class="nav-link" routerLink="/admin/commandes">les commandes</a></li>
</ul>
<router-outlet></router-outlet>
<h1 class="text-success" [hidden]="ok">
        <i class="bi bi-laptop"></i>
        Bienvenu a l'espace Admin
        <i class="bi bi-keyboard"></i>
</h1>
