
h2{
    text-align: center;
    margin: 30px;
}
form{
    width: 70%;
    margin: 15%;
    border-left:2px solid green ;
    border-right: 2px solid green;
    border-radius: 10px;
}
form input,select,textarea{
    width:60%;
    display:inline-block;

}
label{
    display: inline-block;
    width: 30%;
    margin-left: 5%;
}
.aa{
    margin-left: 45%;
}
img{
    width: 70px;
    height: 70px;
}